@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
/*general*/
.bg-black {
  background-color: #1a1919; }

p,
h1,
h2,
h3,
a,
ul,
li {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: #1a1919; }

body {
  background-color: lightgray;
  margin: 0; }

/*index*/
.main img {
  width: 100%;
  margin: 5% 0; }

.main h3 {
  font-size: 1.25em;
  margin: 1.25em 0;
  color: #1a1919; }

.main p {
  font-size: 1.25em;
  margin: 1.25em 0; }

.main a {
  padding: .625em .125em;
  color: #1a1919;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  border: 0.3125em solid #1a1919; }

.main a:hover {
  background-color: #676262; }

.scale:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer; }

/*contacto*/
.main__titulos {
  margin: 5%; }
  .main__titulos li a {
    font-size: 1.5625em;
    color: #1a1919; }

.margen {
  margin-top: 2%; }

.color {
  color: #ebdede; }

/*diseños*/
.main__diseños img {
  width: 26.5625em;
  height: 34.375em; }

.main__diseños h2 {
  font-size: 2.5em;
  margin: 0 1em;
  color: #1a1919; }

.main__diseños a {
  padding: .625em .225em;
  margin: 0 2em;
  color: #1a1919;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  border: 0.2em solid #1a1919; }

.main__diseños a:hover {
  background-color: #676262; }

.main__diseños p {
  font-size: 1.7em;
  margin: 1.25em 1em; }

/*novedades*/
.nov__texto {
  text-align: center;
  margin-top: 10%;
  font-size: 90%; }

.img1 {
  text-align: center;
  margin-top: 2%;
  border: 2px solid #1a1919; }

/*nosotros*/
.listas li {
  font-size: 1.875em;
  margin-left: 30%;
  margin-top: 10%; }

.titulo {
  margin-left: 10%;
  margin-top: 15%; }

.titulos {
  margin-top: 6%;
  margin-bottom: 3%; }

.lugar {
  margin-left: 60%; }

.h-80 {
  height: 90%; }

.margin {
  margin-left: 10%; }
