/*nosotros*/

.listas li {
    font-size: 1.875em;
    margin-left: 30%;
    margin-top: 10%;
}

.titulo {
    margin-left: 10%;
    margin-top: 15%;
}

.titulos {
    margin-top: 6%;
    margin-bottom: 3%;
}

.lugar {
    margin-left: 60%;
}

.h-80 {
    height: 90%;
}

.margin {
    margin-left: 10%;
}